<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title> 
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
{% load static %}
 <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head> 

<body>
    
   <form action="" method="POST"  class="formulario">
    <h1>Ingresa</h1>
       {% csrf_token %}
       {{form}}
      
       <div>
         <input type="submit" value="Login"   class="button" >
       </div>
    
       <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
       <p>¿No tienes una cuenta? <a class="link" href="{% url 'registro' %}">Registrate </a></p>

      </div>
    </form>
</body>
</html>