<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
{%load static%}
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
  </head>
  <body>

    <div class="login-box">
      <!--<img src="{% static 'imagen/logofl.jpeg' %}" class="avatar" alt="Avatar Image">-->
      <h1>Ingresar</h1>
      <form >
        <!-- USERNAME INPUT -->
        <label for="usuario">Usuario</label>
        <input type="text" class="form-control" placeholder="Ingresa Usuario" id="usuario" required data-validation-required-message="Por favor ingresa tu usuario.">
        <!-- PASSWORD INPUT -->
        <label for="contraseña">Contraseña</label>
        <input type="password" class="form-control" placeholder="Ingresa Contraseña" id="password" required data-validation-required-message="Por favor ingresa tu contraseña." >
        <input type="submit" value="ENTRAR">
        <a href="#">¿Perdiste tu contraseña?</a><br>
        <a href='home'>Volver</a>
      </form>
    </div>
  </body>
</html>
