<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title> 
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
{% load static %}
 <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
 
 <form class="formulario" method="POST" action="{% url 'home' %}">
    
    <h1>Registrate</h1>
     {% csrf_token %}
   <table>
        {{ form.as_table }}
   </table>
         <input type="submit" value="Registrate" class="button">
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿Ya tienes una cuenta?<a class="link" href="{% url 'login' %}">Iniciar Sesion</a></p>
     
 </form>
</body>
</html>

