<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reserva</title>
{%load static%}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
  </head>
  <body>
  <div class="reservas-box">
  <form action="" id="formularioreserva" method="POST">
    <h2>Reserva</h2>
    <div class="container">
      {% csrf_token %}
       <label for="">Nombre</label>
       <input type="text" name="Nombre" placeholder="Escriba su nombre">
       <label for="">Apellido</label>
       <input type="text" name="Apellido" placeholder="Escriba su apellido">
       <label for="">Fecha Reserva</label>
       <input type="date" name="Fecha" data-date-format="dd.mm.YYYY"> 
       <label for="">Correo</label>
       <input type="text" name="Correo" placeholder="Escriba su correo">
       <label for="">Telefono</label>
       <input type="text" name="Telefono" placeholder="Escriba su telefono">
       <label for="">Tipo de Sesion</label>
       <div class="select">
       <select name="Tipo" id="Tipo">
          <option value="">Seleccionar</option>
          {% for re in tipo %}
          <option value= "{{ re.id }}">{{ re.sesion }}</option>
          {% endfor %}
       </select><br>
       </div>
       <label for="">Comentarios</label>
       <div class="textarea">
       <textarea name="Comentario" placeholder="Escriba su comentario"></textarea>
       </div>
       <label for="">Estado de reserva</label>
       <select name="status" id="status">
          <option value="">Seleccionar</option>
          <option value="D">Disponible</option>
          <option value="R">Reservado</option>
       </select><br><br>
       <center>
       <a href='reservas'>Guardar</a>
       <a href='listado'>Mostrar</a>
       </center>
    </div>
   </form>
   <h3>{{ mensaje }}</h3>
  </body>
</div>
</html>

